@use '../variables' as var;

.table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    min-width: 500px;
    height: 100%;
    
    &__wrapper {
        // border: 1px solid red;
        width: 100%;
        max-width: 1200px;
        height: auto;
        max-height: auto;
        overflow: auto;
        @include var.scroll-styles;
    }

    &__head {
        font-weight: bold;
        margin-right: 6px;
        border-left: 1px solid var.$secondary_color_2;
        border-top: 1px solid var.$secondary_color_2;
        border-right: 1px solid var.$secondary_color_2;
        border-top-left-radius: var.$radius;
        border-top-right-radius: var.$radius;
        
        & .table__row {
            &:first-child {
                background: var.$secondary_color_2;
                color: var.$font_color;
            }
        }
    }

    &__body {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        transition: .3s;
        border-left: 1px solid var.$secondary_color_2;
        @include var.scroll-styles;

        & .table__data {
            position: relative;
            flex-direction: column;
            align-items: flex-start;
            padding: 8px;
            padding-left: 20%;
            overflow: inherit;
        }
        & .table__row {
            border-right: 1px solid var.$secondary_color_2;
            &:nth-child(2n-1) {
                background: var.$secondary_color_2;
                color: var.$font_color
            }
        }
    }

    &__foot {
        margin-right: 6px;
        border-left: 1px solid var.$secondary_color_2;
        border-right: 1px solid var.$secondary_color_2;
        border-bottom: 1px solid var.$secondary_color_2;
        border-bottom-left-radius: var.$radius;
        border-bottom-right-radius: var.$radius;
    }
    
    &__row {
        display: grid;
        grid-template-rows: minmax(40px, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    }

    &__data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px;
        transition: var.$transition;
    }

    &__data-button {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 8px;
        padding-left: 20%;
        height: 100%;
        text-align: center;
        user-select: none;
        transition: var.$transition;

        &:hover {
            cursor: pointer;
            box-shadow: var.$default-shadow-inset;
            color: var.$font_color;
            background-color: var.$secondary_color_2;
            transition: var.$transition;
        }
        
        &:active {
            background-color: var.$background_color;
            color: var.$font_color;
            box-shadow: var.$default-shadow-inset_active;
        }
    }

    &__data-button_active {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        background-color: var.$secondary_color_2;
        box-shadow: var.$default-shadow-inset;
        user-select: none;
        transition: var.$transition;


        &:hover {
            cursor: pointer;
            background-color: var.$secondary_color_2;
            color: var.$font_color;
            box-shadow: var.$default-shadow-inset;
            transition: var.$transition;
        }
        
        &:active {
            background-color: var.$secondary_color_2;
            color: var.$font_color;
            box-shadow: var.$default-shadow-inset_active;
        }
    }

    &__sort-badge {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 1rem;
        margin: 0 4px;
    }

    &__sort-icon {
        font-size: 0.8rem;
        transition: var.$transition;
        &_active {
            transition: var.$transition;
            font-size: 0.8rem;
            color: var.$primary_color;
            text-shadow: 0px 1px 2px var.$primary_color ;
        }
    }

    &__pagination {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 1px;
        padding: 8px 0;
        background-color: var.$background_color;
    }

    &__pagination-button {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        margin: 2px;
        padding: 2px;
        min-width: 30px;
        height: 30px;
        background-color: var.$secondary_color_2;
        text-align: center;
        user-select: none;
        transition: var.$transition;

        &:hover {
            cursor: pointer;
            box-shadow: var.$default-shadow-inset;
            color: var.$secondary_color_2;
            background-color: var.$primary_color;
            transition: var.$transition;
        }
        
        &:active {
            background-color: var.$background_color;
            color: var.$font_color;
            box-shadow: var.$default-shadow-inset_active;
        }
        &_active {
            color: var.$secondary_color_2;
            background-color: var.$primary_color;
            
            &:active {
                background-color: var.$secondary_color_2;
                color: var.$font_color;
                box-shadow: var.$default-shadow-inset_active;
            }
        }

        &_disabled {
            &:hover {
                cursor: initial;
                box-shadow: none;
                background-color: var.$secondary_color_2;
                color: var.$font_color;
                transition: var.$transition;
            }
            
            &:active {
                box-shadow: none;
            }
        }
    }
}

.header {

    display: flex;
    position: relative;
    justify-content: space-between;
    height: var.$header_height;
    padding: 0 16px;
    background-color: var.$secondary_color_2;
    color: var.$font_color;


    &__title {
        display: flex;
        align-items: center;

        text-transform: uppercase;
        text-align: end;
        font-size: 1.3rem;
        color: var.$font_color;
    }

}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: auto;
    height: 100%;

    background-color: var.$secondary_color_2;
    
    &__button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 100px;

        transition: .3s;

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 0;
            height: 3px;
            bottom: 0;
            background-color: var.$primary_color;
            transition: .3s;
        }
        
        &:hover {
            box-shadow: 0 1px 2px 0 var.$primary_color;
            transition: .3s;

            &::after {
                width: 100%;
                transition: .3s;
            }
        }

        &:active {
            box-shadow: 0 -2px 0px 0px var.$secondary_color_1;
        }

        &_active {

            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 3px;
                bottom: 0;
                background-color: var.$primary_color;
                transition: .3s;
            }
        }
    }
}

.loading {
    position: relative;
    background: linear-gradient(-60deg, transparent 40%, rgba(255, 255, 255, 0.7) 50%, transparent 60%);
    background-size: 300% 300%;
    animation: gradient 1.5s ease infinite;
    color: transparent;
    transition: var.$transition;
    & > * {
        color: transparent;
        transition: var.$transition;
    }
}

@keyframes gradient {
    0% { background-position: 100% 50%; }
    50% {  background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

@media screen and (max-width: 780px) {
    .table {
        &__data {
            padding: 4px;
            padding-left: 20%;
        }
    
        &__data-button {
            padding: 4px;
            padding-left: 20%;

            &_active {
                padding: 4px;
                padding-left: 20%;

            }
        }
    }
    
}
