@import '../App.scss';

.page {
    display: flex;
    justify-content: flex-start;

    width: 100%;
    height: $page_height;

    padding: 16px;

    background-color: $background_color;

}

.main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.settings {
    justify-content: center;

    &__block {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        
        width: 800px;
        max-width: 100%;
        height: auto;
        max-height: 100%;

        border-radius: $radius;
        box-shadow: $default-shadow;

    }

}

.setting {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: auto;

    padding: 8px 16px;

    transition: .3s;
    border-bottom: 1px solid black;

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 100%;
        left: 0;
        background-color: $primary_color;
        transition: .3s;
    }
    
    &:hover {
        transition: .3s;

        &::after {
            width: 3px;
            transition: .3s;
        }
    }

    &__chevron {
        width: 28px;
        transition: .3s;
        
        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }

        &_active {
            width: 28px;
            transform: scale(1.1) rotate(-180deg);
            transition: .3s;

            &:hover {
                cursor: pointer;
                transform: scale(1.2) rotate(-180deg);
            }
        }

    }
}

.categories {
    height: auto;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: .3s;

    &_active {
        max-height: 400px;
        transition: .3s;
    }

    #button-block {
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        left: 100%;
        transition: .3s;

        &_active {
            display: flex;
            flex-flow: row nowrap;
            transition: .3s;
        }
    }

    & .table {
        & .table__row {
            grid-template-columns: 1fr 1fr 80px;
            transition: .3s;

            &:hover > #button-block {
                transition: .3s;
                left: 0;
            }

        & .table__data {
            padding: 0;
            min-height: 36px;
        }
        }
    }
}

#transactions {
    
    & .table__head {
        position: relative;
    }

    &__select {
        position: absolute;
        left: 4px;
        top: 4px;
        min-width: 80px;
        width: 80px;
        text-transform: none;
    }
}


