@use '../variables' as var;

.page {
    display: flex;
    justify-content: flex-start;

    width: 100%;
    height: var.$page_height;

    padding: 16px;

    background-color: var.$background_color;

}

.main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#transactions {
    
    & .table__head {
        position: relative;
    }

    &__select {
        position: absolute;
        left: 4px;
        top: 4px;
        min-width: 80px;
        width: 80px;
        text-transform: none;
    }
}


