@use './variables.scss' as var;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-word;
}
  
html {
    font-size: 14px;
    font-family: Montserrat;
}

a {
    text-decoration: none;
    color: var.$font_color;
}

.App {
    position: relative;
    height: 100vh;
    white-space: pre-line; 
}

@media screen and (max-width: 780px) {
    html {
        font-size: 12px;
    }
    
}

@media screen and (max-width: 440px) {

    
}
