:root { 
      // declaring variables in root to call them from js
  }

    // declaring scss variables
    $font_color: var(--font_color); // primary font color
    $primary_color: var(--primary_color); // main color
    $secondary_color_1: var(--secondary_color_1); // secondary color 1
    $secondary_color_2: var(--secondary_color_2); // secondary color 2
    $background_color: var(--background_color); // secondary color 2

    $header_height: 60px; // header's height
    $page_height: calc(100vh - $header_height); // page height
    $default-shadow: 1px 1px 2px 0 #0F1955;
    $default-shadow_active: 2px 2px 3px 0 #0F1955;
    $default-shadow_inset: 1px 1px 2px 0 #0F1955 inset;
    $default-shadow_inset_red: 1px 1px 2px 0 #b00000 inset;
    $default-shadow_inset_active: 2px 2px 3px 0 #0F1955 inset;

.App {
    position: relative;
    height: 100vh;
    font-size: 16px;
    font-family: sans-serif;
    white-space: pre-line; 
}

.table {
    display: grid;
    width: 100%;
    height: auto;
    max-height: 100%;
    background: $secondary_color_2;

    &__head {
        text-transform: uppercase;
    }

    &__body {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        transition: .3s;

        & .table__data {
            position: relative;
            display: flex;
            justify-content: center;
            text-align: center;
            overflow: inherit;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        background: $background_color;
        border-bottom: 1px solid black;
    }

    &__data {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        background: $background_color;
    }
}